n8n_workflow_v3.json
{
  "name": "TikTok → Reels Bot v3 (Railway Microservice)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "node-0001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "tiktok-reels-v3",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || msg.message?.caption || '';\nconst chatId = msg.message?.chat?.id;\n\nif (!chatId) throw new Error('Chat ID introuvable');\n\nconst urlMatch = text.match(/https?:\\/\\/[^\\s]+/g);\nif (!urlMatch) throw new Error('Aucun lien TikTok dans le message');\n\nreturn [{\n  json: {\n    tiktokUrl: urlMatch[0],\n    chatId: String(chatId)\n  }\n}];"
      },
      "id": "node-0002",
      "name": "Extract URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "⏳ Traitement en cours... (~30 sec)",
        "additionalFields": {}
      },
      "id": "node-0003",
      "name": "Status Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 180],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROCESSOR_URL }}/process",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"tiktokUrl\": \"{{ $json.tiktokUrl }}\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"botToken\": \"{{ $env.TELEGRAM_BOT_TOKEN }}\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "node-0004",
      "name": "Call Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-0005",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 360]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Extract URL').item.json.chatId }}",
        "text": "=❌ Erreur : {{ $json.error }}",
        "additionalFields": {}
      },
      "id": "node-0006",
      "name": "Send Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 480],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Extract URL", "type": "main", "index": 0 }]]
    },
    "Extract URL": {
      "main": [[
        { "node": "Status Message", "type": "main", "index": 0 },
        { "node": "Call Processor", "type": "main", "index": 0 }
      ]]
    },
    "Call Processor": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [],
        [{ "node": "Send Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["tiktok", "reels", "telegram", "railway"],
  "triggerCount": 1,
  "versionId": "3.0.0"
}
